/* Qt-Help-like CSS for Doxygen */

body, table, div, p, dl {font-family: Arial, Geneva, Helvetica, sans-serif; font-size: medium;}

body       {color: black; background: white;}

a:link     {color: #007330; text-decoration: none}
a:visited  {color: #672967; text-decoration: none}

table      {border-collapse: collapse; width: 100%;}

p          {margin: .5em 0;}

h1         {font:bold 18px/1.2 Arial,FreeSans,sans-serif; margin: 0 0 .8em;}
h2         {font-size: 120%; margin: 1.6em 0;}
h3         {font-size: 100%;}
h3.version {font-size: 90%; text-align: center;}


/* header style */

div.header     {margin: 1em 0; vertical-align: middle;}
div.header img {vertical-align: middle; margin: 0 1em 0 6px; border: none;}


/* footer style */

div.footer {text-align: right; font-size: 80%;}


/* the horizontal lines between sections */

hr        {height: 0; border: none; border-top: 1px solid #a0a0a0; margin: 1.8em 0 1.6em;}
table h2  {border-top: 1px solid #a0a0a0; padding: 1.3em 0 0; margin: 1.3em 0 .8em;}


/* adjust the navigation path and headings on the class page for a nested class */

div.navpath {font-size: 160%; text-align: center; margin: 0 0 .8em; font-weight: bold;}
div.navpath:after {content: " Class Reference";}
div.navpath + div.contents > h1 {display: none;}


/* specific for the #include box at the top of class pages */

div.contents > p > code {display: block; padding: 0.2em; border: #e7e7e7 1px solid; background: #f1f1f1; color: black;}


/* list of members on class pages */

td.memItemLeft,
td.memItemRight,
td.memTemplItemLeft,
td.memTemplItemRight,
td.memTemplParams       {border: none; margin: 4px; padding: 1px 0 0 8px;}
td.memItemLeft,
td.memTemplItemLeft,
td.memTemplParams       {white-space: nowrap;}
td.memItemLeft,
td.memTemplItemLeft     {width: 180px;}
td.memItemRight     .el {font-weight: bold;}


/* suppress brief descriptions in the lists at the top of class pages, including for nested classes */
td.mdescLeft,
td.mdescRight           {display: none;}


/* member details on class pages */

div.memitem           {margin: 0 0 2em; padding: 0;}
div.memproto          {margin: 0; padding: 6px 0 6px 10px; border: 1px solid #ddd; background-color: #eee; 
                       color: black; font-weight: bold;}
div.memdoc            {}

table.memname         {display: block;}
table.memname *       {display: inline;}
table.memname tr + tr {white-space: nowrap;}
table.memname td      {white-space: nowrap;}
td.paramname code     {font: inherit;}

/* I haven't seen an example of these, so I don't know what they do. */

.memtemplate {font-size: 80%; color: #606060; font-weight: normal; margin-left: 3px;}
.memnav {background-color: #e8eef2; border: 1px solid #84b0c7; text-align: center; margin: 2px; margin-right: 15px; padding: 2px; }


/* class member list pages */

tr.memlist            td {padding: .1em .3em; background-color: #eee; border-style: solid; border-color: white; border-width: 4px 2px;}
tr[bgcolor="#f0f0f0"] td {padding: .1em .3em; background-color: #eee; border-style: solid; border-color: white; border-width: 4px 2px;}


/* All Classes page */

td.indexkey   {padding: 1em .25em .2em 0; vertical-align: top; text-align: right; font-weight: bold; width: 180px;}
td.indexvalue {padding: 1em 0 .2em .25em; vertical-align: top; text-align: left;}

tr + tr td.indexkey   {padding-top: .2em;}
tr + tr td.indexvalue {padding-top: .2em;}


/* All Functions and All Variables pages have tabs and no headings; we want headings and no tabs */

div.tabs ul                     {display: block; margin: 0; padding: 0; list-style-type: none;}
div.tabs li                     {display: none;  margin: 0; padding: 0;}
div.tabs li.current             {display: block; font-size: 160%; font-weight: bold; text-align: center; margin: 0;}
div.tabs li.current a           {color: black;}
div.tabs + div.contents         {visibility: hidden;}
div.tabs + div.contents > ul    {visibility: visible; margin: 0; padding: 0; list-style-type: none;}
div.tabs + div.contents > ul li {margin: .1em 0; padding: 0 0 0 2em; text-indent: -2em; font-weight: bold;}
div.tabs + div.contents > ul a  {font-weight: normal;}
div.tabs + div.contents h3      {display: none;}
div.tabs > ul > li.current:first-child:after {content: " Functions and Variables";}


/* Tables using <TABLE>, such as for enumerations */

table.doxtable    {width: auto;}
table.doxtable th {padding: 4px 4px 5px 4px; border: 1px solid #666; color: white; background-color: #666; border-bottom: hidden;}
table.doxtable td {padding: 2px 1em 3px 2px; border: 1px solid #ddd; color: black; background-color: #f0f0f0; vertical-align: top;}
table.doxtable td + td      {text-align: center; padding: 2px 1em 3px 1em;}
table.doxtable td + td + td {text-align: left;   padding: 2px 2px 3px 2px;}


/* The remaining entries are copied from the default Doxygen CSS. */

dt {
	font-weight: bold;
}

div.multicol {
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	-moz-column-count: 3;
	-webkit-column-count: 3;
}

p.startli, p.startdd, p.starttd {
	margin-top: 2px;
}

p.endli {
	margin-bottom: 0px;
}

p.enddd {
	margin-bottom: 4px;
}

p.endtd {
	margin-bottom: 2px;
}

caption {
	font-weight: bold;
}

span.legend {
        font-size: 70%;
        text-align: center;
}


div.qindex, div.navtab{
	background-color: #e8eef2;
	border: 1px solid #84b0c7;
	text-align: center;
	margin: 2px;
	padding: 2px;
}

div.qindex {
	width: 100%;
	line-height: 140%;
}

div.navtab {
	margin-right: 15px;
}

/* @group Link Styling */

a.qindex {
	font-weight: bold;
}

a.qindexHL {
	font-weight: bold;
	background-color: #6666cc;
	color: #ffffff;
	border: 1px double #9295C2;
}

.contents a.qindexHL:visited {
        color: #ffffff;
}

a.code {
	color: #3030f0;
}

a.codeRef {
	color: #3030f0;
}

/* @end */

dl.el {
	margin-left: -1cm;
}

.fragment {
	font-family: monospace, fixed;
	font-size: 105%;
}

pre.fragment {
	border: 1px solid #CCCCCC;
	background-color: #f5f5f5;
	padding: 4px 6px;
	margin: 4px 8px 4px 2px;
	overflow: auto;
	word-wrap: break-word;
	font-size:  9pt;
	line-height: 125%;
}

div.ah {
	background-color: black;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 3px;
	margin-top: 3px
}

div.groupHeader {
	margin-left: 16px;
	margin-top: 12px;
	margin-bottom: 6px;
	font-weight: bold;
}

div.groupText {
	margin-left: 16px;
	font-style: italic;
}

p.formulaDsp {
	text-align: center;
}

img.formulaDsp {
	
}

img.formulaInl {
	vertical-align: middle;
}

div.center {
	text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
}

div.center img {
	border: 0px;
}


/* @group Code Colorization */

span.keyword {
	color: #008000
}

span.keywordtype {
	color: #604020
}

span.keywordflow {
	color: #e08000
}

span.comment {
	color: #800000
}

span.preprocessor {
	color: #806020
}

span.stringliteral {
	color: #002080
}

span.charliteral {
	color: #008080
}

span.vhdldigit { 
	color: #ff00ff 
}

span.vhdlchar { 
	color: #000000 
}

span.vhdlkeyword { 
	color: #700070 
}

span.vhdllogic { 
	color: #ff0000 
}

/* @end */

.search {
	color: #003399;
	font-weight: bold;
}

form.search {
	margin-bottom: 0px;
	margin-top: 0px;
}

input.search {
	font-size: 75%;
	color: #000080;
	font-weight: normal;
	background-color: #e8eef2;
}

td.tiny {
	font-size: 75%;
}

.dirtab {
	padding: 4px;
	border-collapse: collapse;
	border: 1px solid #84b0c7;
}

th.dirtab {
	background: #e8eef2;
	font-weight: bold;
}


/* @end */